body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table th {
  background-color: #343a40 !important;
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

footer {
  font-size: 0.9rem;
}


.logo {
  width: 40px;
  height: auto;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}
