body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table th {
  background-color: #343a40 !important;
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

footer {
  font-size: 0.9rem;
}
